
:root {
    --hero-width: 90%;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2500' height='10000' preserveAspectRatio='none' viewBox='0 0 2500 10000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3crect width='2500' height='10000' x='0' y='0' fill='rgba(245%2c 245%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M1656.56 3912.66 a788.26 788.26 0 1 0 1576.52 0 a788.26 788.26 0 1 0 -1576.52 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-150.28759640768038 5796.554995738845L449.97952166786865 5839.104664736119 227.66351105824089 5362.346441443697z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-76.97 1081.39 a445.51 445.51 0 1 0 891.02 0 a445.51 445.51 0 1 0 -891.02 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1595.6026172697807 6673.561763435975L1450.4954725872858 5923.233164859264 938.7332558514245 6352.652652172793z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-301.96 3030.35 a461.36 461.36 0 1 0 922.72 0 a461.36 461.36 0 1 0 -922.72 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2434.517%2c7987.091C2611.16%2c7983.471%2c2759.545%2c7868.501%2c2847.74%2c7715.408C2935.772%2c7562.598%2c2950.641%2c7381.832%2c2874.965%2c7222.541C2786.09%2c7035.467%2c2641.629%2c6845.549%2c2434.517%2c6845.614C2227.471%2c6845.679%2c2087.135%2c7037.626%2c1994.547%2c7222.817C1913.041%2c7385.843%2c1899.942%2c7575.009%2c1990.876%2c7732.97C2082.006%2c7891.271%2c2251.897%2c7990.834%2c2434.517%2c7987.091' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M602.93 276.98 a724.61 724.61 0 1 0 1449.22 0 a724.61 724.61 0 1 0 -1449.22 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M238.79857072463886 7646.33592573216L679.8482935155082 7646.33592573216 459.32343212007333 6984.761341545856z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1304.22 3321.26 a767.9 767.9 0 1 0 1535.8 0 a767.9 767.9 0 1 0 -1535.8 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M467.33146636519564 9587.04494133531L484.65721319866174 10083.189415974122 963.4759410040067 9569.719194501844z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M33.34 8506.78 a573.33 573.33 0 1 0 1146.66 0 a573.33 573.33 0 1 0 -1146.66 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M579.8590962530636 225.39225142735665L116.33748047285212 526.4067083262051 417.3519373717006 989.9283241064167 880.8735531519121 688.9138672075682z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1127.231%2c9546.179C1347.371%2c9546.487%2c1559.36%2c9437.552%2c1664.226%2c9243.994C1764.841%2c9058.282%2c1717.291%2c8837.167%2c1609.892%2c8655.295C1504.624%2c8477.031%2c1334.106%2c8326.749%2c1127.231%2c8334.635C930.076%2c8342.15%2c804.442%2c8519.786%2c704.357%2c8689.814C602.174%2c8863.406%2c503.643%2c9061.882%2c592.83%2c9242.496C690.059%2c9439.395%2c907.634%2c9545.872%2c1127.231%2c9546.179' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='2500' height='10000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

nav {
    background-color: rgb(34, 34, 34) !important;
}

header {
    padding-top: 80px;
}

.hero {
    text-align: center;
    margin: 40px 0;
}

h1 {
    font-size: 2.5em;
}

.main-image {
    text-align: center;
    margin: 30px 0 10px 0;
}

header img {
    width: var(--hero-width);
    border-radius: 6px;
}

.description {
    text-align: center;
    width: var(--hero-width);
    margin: 0 auto 10px auto;
}

p, .list-item {
    font-size: 20px;
    line-height: 26px;
}

header hr {
    width: 70%;
    height: 2px;
    background-color: #000;
    margin: 0 auto;
}

@media only screen and (min-width: 512px) {
    :root {
        --hero-width: 75%;
    }
    h1 {
        font-size: 2.7em;
    }
    p, .list-item {
        font-size: 22px;
        line-height: 28px;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --hero-width: 70%;
    }
    h1 {
        font-size: 3em;
    }
    p, .list-item {
        font-size: 24px;
        line-height: 30px;
    }   
    header hr {
        width: 50%;
    } 
}

@media only screen and (min-width: 992px) {
    :root {
        --hero-width: 60%;
    }
    h1 {
        font-size: 3.2em;
    }
    p, .list-item {
        font-size: 26px;
        line-height: 32px;
    }   
}

@media only screen and (min-width: 1200px) {
    :root {
        --hero-width: 50%;
    }
    h1 {
        font-size: 3.5em;
    }
    p, .list-item {
        font-size: 28px;
        line-height: 36px;
    }    
    header hr {
        width: 38%;
    }
}

.main-content {
    padding: 4px;
    background-size: cover;
    width: var(--hero-width);
    margin: 0 auto;
}

.content-block {
    margin: 40px 0;
}

.heading {
    text-align: left;
    margin: 20px 0;
}

h2 {
    display: inline-block;
    font-size: 2.5em;
    font-weight: bold;
}

.heading-line {
    display: none;
}

.text {
    text-align: left;
}

.list {
    padding-left: 60px;
}

.list-item {
    margin: 4px 0;
}

@media only screen and (min-width: 512px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}