:root {
  --heading-color: rgb(255, 255, 255);
  --secondary-heading-color: rgb(230, 230, 230);
  --slogan-color: rgb(207, 207, 207);
  --heading-font-size: 3.4em;
  --secondary-heading-font-size: 1.3em;
  --slogan-font-size: 0.8em;
  --green: #15e215;
  --background-color: rgb(245, 245, 245);
}

header {
  position: fixed;
  background-image: url("../images/landscape-phone.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0 10px 14px rgb(34, 34, 34);
          box-shadow: 0 10px 14px rgb(34, 34, 34);
  background-attachment: fixed;
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
  -webkit-perspective: 2px;
          perspective: 2px;
  -ms-overflow-style: none;
}

header * {
  overflow: hidden;
}

header::-webkit-scrollbar {
  display: none;
}

.content-container {
  position: absolute;
  top: 100vh;
}

h1 {
  color: var(--heading-color);
  font-size: var(--heading-font-size);
  text-shadow: 3px 3px var(--dark-green);
}

h2 {
  color: var(--secondary-heading-color);
  font-size: var(--secondary-heading-font-size);
}

.hero {
  position: relative;
  top: 80px;
  text-align: center;
  overflow: visible;
}

.spacer {
  height: 80px;
}

.upper-hero {
  width: 90%;
  margin: 0 auto 20px auto;
}

.upper-hero p {
  color: var(--slogan-color);
  font-size: var(--slogan-font-size);
}

.lower-hero {
  width: 90%;
  margin: auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta {
  margin-top: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: white;
  background-color: var(--medium-green);
  -webkit-box-shadow: 6px 6px 0 black;
          box-shadow: 6px 6px 0 black;
  -webkit-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
          transform: skewX(-15deg);
  border: none;
  overflow: visible;
  position: relative;
  bottom: 6px;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 0 #000;
          box-shadow: 10px 10px 0 #000;
  background-color: var(--light-green);
  color: #000;
  -webkit-transition: background-color 1s, color 1s, -webkit-box-shadow 0.5s;
  transition: background-color 1s, color 1s, -webkit-box-shadow 0.5s;
  -o-transition: background-color 1s, color 1s, box-shadow 0.5s;
  transition: background-color 1s, color 1s, box-shadow 0.5s;
  transition: background-color 1s, color 1s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.hero button.delete {
  display: none;
  margin-top: 30px;
  font-size: 2em;
  padding: 0.5em 1em;
  background-image: -o-linear-gradient(315deg, #4d774e, #164a41);
  background-image: linear-gradient(135deg, #4d774e, #164a41);
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #000;
}

.hero button.delete:hover {
  -webkit-box-shadow: 0 0 10px 3px #000;
          box-shadow: 0 0 10px 3px #000;
  background-image: none;
  background-color: rgb(231, 231, 231);
  color: black;
}

@media only screen and (max-width: 375px) {
  :root {
    --heading-font-size: 2.5em;
    --secondary-heading-font-size: 0.9em;
    --slogan-font-size: 0.6em;
  }
  .hero button {
    font-size: 1.4em;
  }
  .spacer {
    height: 30px;
  }
}

@media only screen and (min-width: 768px) {
  header {
    background-image: url("../images/landscape-tablet-compressed.png");
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --heading-font-size: 3.7em;
    --secondary-heading-font-size: 1.6em;
    --slogan-font-size: 1em;
  }
  .spacer {
    height: 80px;
  }
  .hero {
    width: 60%;
    float: left;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --heading-font-size: 4.4em;
    --secondary-heading-font-size: 2em;
    --slogan-font-size: 1.4em;
  }
  header {
    background-image: url("../images/landscape-desktop-compressed.png");
  }
  .spacer {
    height: 60px;
  }
  .hero {
    width: 50%;
    float: left;
    margin-left: 100px;
  }
}

.main-content {
  /* background-color: var(--background-color); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2500' height='10000' preserveAspectRatio='none' viewBox='0 0 2500 10000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3crect width='2500' height='10000' x='0' y='0' fill='rgba(245%2c 245%2c 245%2c 1)'%3e%3c/rect%3e%3cpath d='M1656.56 3912.66 a788.26 788.26 0 1 0 1576.52 0 a788.26 788.26 0 1 0 -1576.52 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-150.28759640768038 5796.554995738845L449.97952166786865 5839.104664736119 227.66351105824089 5362.346441443697z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-76.97 1081.39 a445.51 445.51 0 1 0 891.02 0 a445.51 445.51 0 1 0 -891.02 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1595.6026172697807 6673.561763435975L1450.4954725872858 5923.233164859264 938.7332558514245 6352.652652172793z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-301.96 3030.35 a461.36 461.36 0 1 0 922.72 0 a461.36 461.36 0 1 0 -922.72 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2434.517%2c7987.091C2611.16%2c7983.471%2c2759.545%2c7868.501%2c2847.74%2c7715.408C2935.772%2c7562.598%2c2950.641%2c7381.832%2c2874.965%2c7222.541C2786.09%2c7035.467%2c2641.629%2c6845.549%2c2434.517%2c6845.614C2227.471%2c6845.679%2c2087.135%2c7037.626%2c1994.547%2c7222.817C1913.041%2c7385.843%2c1899.942%2c7575.009%2c1990.876%2c7732.97C2082.006%2c7891.271%2c2251.897%2c7990.834%2c2434.517%2c7987.091' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M602.93 276.98 a724.61 724.61 0 1 0 1449.22 0 a724.61 724.61 0 1 0 -1449.22 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M238.79857072463886 7646.33592573216L679.8482935155082 7646.33592573216 459.32343212007333 6984.761341545856z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1304.22 3321.26 a767.9 767.9 0 1 0 1535.8 0 a767.9 767.9 0 1 0 -1535.8 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M467.33146636519564 9587.04494133531L484.65721319866174 10083.189415974122 963.4759410040067 9569.719194501844z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M33.34 8506.78 a573.33 573.33 0 1 0 1146.66 0 a573.33 573.33 0 1 0 -1146.66 0z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M579.8590962530636 225.39225142735665L116.33748047285212 526.4067083262051 417.3519373717006 989.9283241064167 880.8735531519121 688.9138672075682z' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1127.231%2c9546.179C1347.371%2c9546.487%2c1559.36%2c9437.552%2c1664.226%2c9243.994C1764.841%2c9058.282%2c1717.291%2c8837.167%2c1609.892%2c8655.295C1504.624%2c8477.031%2c1334.106%2c8326.749%2c1127.231%2c8334.635C930.076%2c8342.15%2c804.442%2c8519.786%2c704.357%2c8689.814C602.174%2c8863.406%2c503.643%2c9061.882%2c592.83%2c9242.496C690.059%2c9439.395%2c907.634%2c9545.872%2c1127.231%2c9546.179' fill='rgba(0%2c 0%2c 0%2c 0.039)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='2500' height='10000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  padding: 40px 0;
}

.main-content p {
  font-size: 20px;
  color: rgb(32, 32, 32);
  line-height: 28px;
}

.main-content h3 {
  font-size: 28px;
  margin: 16px;
  text-align: center;
}

.main-content hr {
  height: 2.2px;
  background-color: #000;
  margin: 20px 20px 30px 20px;
}

.pages {
  padding: 12px;
}

.learn-more-cta {
  text-align: center;
  margin: 16px 0;
}

.learn-more-cta a {
  font-size: 22px;
  background-color: var(--background-color);
  padding: 0.25em 0.65em;
  border: 2.5px solid rgb(172, 172, 172);
  color: #000;
  border-radius: 100vh;
}

.learn-more-cta a {
  color: #000;
}

.learn-more-cta a:hover {
  color: rgb(95, 95, 95);
}

.big {
  display: none;
}

.image {
  display: none;
  text-align: center;
}

.main-content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100vh;
}

@media only screen and (min-width: 512px) {
  .pages {
    width: 80%;
    margin: 0 auto;
  }
  .main-content h3 {
    margin: 24px;
  }
  .main-content hr {
    margin: 30px 20px 30px 20px;
  }
  .learn-more-cta {
    margin: 24px 0;
  }
  .main-content p {
    line-height: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .main-content {
    padding: 40px 0;
  }
  .small {
    display: none;
  }
  .big {
    display: block;
    margin: 80px 0;
  }
  .pages {
    padding: none;
  }
  .content {
    background-color: var(--light-green);
    width: 70%;
    padding: 6px;
    margin: 50px auto;
    position: relative;
    -webkit-box-shadow: 50px -25px var(--medium-green), -50px 25px var(--dark-green);
            box-shadow: 50px -25px var(--medium-green), -50px 25px var(--dark-green);
  }
  .content p {
    width: 90%;
    margin: 0 auto;
    color: rgb(10, 10, 10);
  }
  .pages {
    width: 100%;
  }
  .learn-more-cta a {
    background-color: #34a853;
    color: #fff;
    padding: 0.16em 1.6em;
  }

  .learn-more-cta a:hover {
    color: #000;
    background-color: #fff;
  }
  .welcome-big .content {
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .content {
    width: 60%;
  }
  .main-content p {
    font-size: 24px;
    line-height: 36px;
  }

  .main-content h3 {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-content p {
    font-size: 26px;
    line-height: 38px;
  }
  .main-content h3 {
    font-size: 34px;
  }
  .content {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content2 {
    width: 60%;
  }
  .image {
    display: block;
  }
  .main-content img:hover {
    -webkit-box-shadow: 0 0 10px #000;
            box-shadow: 0 0 10px #000;
  }
}