
:root {
    --heading-color: rgb(255, 255, 255);
    --secondary-heading-color: rgb(230, 230, 230);
    --slogan-color: rgb(207, 207, 207);
    --heading-font-size: 3.4em;
    --secondary-heading-font-size: 1.3em;
    --slogan-font-size: 0.8em;
    --green: #15e215;
}

header {
    position: relative;
    background-image: url("../images/landscape-phone.png");
    background-size: cover;
    height: 100vh;
}

h1 {
    color: var(--heading-color);
    font-size: var(--heading-font-size);
}

h2 {
    color: var(--secondary-heading-color);
    font-size: var(--secondary-heading-font-size);
}

.hero {
    position: relative;
    top: 80px;
    text-align: center;
}

.spacer {
    height: 80px;
}

.upper-hero {
   width: 90%;
   margin: 0 auto 20px auto; 
}

.upper-hero p {
    color: var(--slogan-color);
    font-size: var(--slogan-font-size);
}

.lower-hero {
    width: 90%;
    margin: auto;
}

.hero button {
    margin-top: 50px;
    font-size: 2em;
    padding: 0.5em 1em;
    background-image: linear-gradient(135deg, var(--green), #26973e);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #000;
}

.hero button:hover {
    box-shadow: 0 0 10px 3px #000;
    background-image: none;
    background-color: rgb(231, 231, 231);
    color: black;
}

@media only screen and (max-width: 375px) {
    :root {
        --heading-font-size: 2.5em;
        --secondary-heading-font-size: 0.9em;
        --slogan-font-size: 0.6em;
    }
    .hero button {
        font-size: 1.4em;
    }
    .spacer {
        height: 30px;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        --heading-font-size: 3.7em;
        --secondary-heading-font-size: 1.6em;
        --slogan-font-size: 1em;
    }
    header {
        background-image: url("../images/landscape-tablet.png");
    }
    .spacer {
        height: 80px;
    }
    .hero {
        width: 60%;
        float: left;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --heading-font-size: 3.8em;
        --secondary-heading-font-size: 1.7em;
        --slogan-font-size: 1.1em;
    }
    header {
        background-image: url("../images/landscape-desktop.png");
    }
    .spacer {
        height: 60px;
    }
    .hero {
        width: 40%;
        float: left;
        margin-left: 80px;
    }
}

/* random button code from internet */
