@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito+Sans:wght@300;400;700&family=Work+Sans:wght@300;400;700&display=swap");



:root {
  --off-black: rgba(34, 34, 34, 1);
  /* background on nav */
  --off-blackh: rgba(34, 34, 34, 0);
  --logo-green: rgb(21, 226, 21);
  --hover-white: rgba(240, 240, 240, 1);
  --popup-grey: rgb(88, 88, 88);
  --nav-font: 0.87em;
  --green: #15e215;
  --light-green: #cef1c2;
  --medium-green: #4d774e;
  --dark-green: #164a41;
}

/* Lato Nunito Sans Work Sans*/
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: rgb(245, 245, 245);
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #1c9e1c;
  border-radius: 200px;
}

::-webkit-scrollbar-track {
  background-color: rgb(34, 34, 34);
}

nav {
  position: fixed;
  top: 0px;
  display: block;
  width: 100%;
  z-index: 1;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-blackh);
  box-shadow: 0px 4px 6px var(--off-blackh);
  opacity: 1;
}

nav > div {
  margin: 0 10px;
}

.nav-left {
  margin: 0;
  transform: translate(4px, 4px);
}

.nav-left h2 {
  font-size: 4em;
  font-weight: 600;
  color: var(--logo-green);
}

.nav-left img {
  width: 102.24px;
  height: 72px;
  /* background-color: rgba(255,255,255,0.20);
  box-shadow: 0 0 20px 10px rgba(255,255,255,0.24); */
}

.nav-left img:hover {
  width: 104px;
  height: 73.3px;
}

ul {
  padding: 0;
  margin: 0;
  padding-inline-start: 0;
}

.nav-item {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0 14px;
}

.nav-item a {
  color: rgb(226, 226, 226);
  font-size: var(--nav-font);
  display: block;
}

.nav-item:hover {
  background-color: var(--hover-white);
  box-shadow: 6px 6px var(--off-black);
}

/* here for js */
.nav-item-hover {
  background-color: var(--hover-white);
  box-shadow: 6px 6px var(--off-black);
}

.nav-item:hover > a {
  color: #000;
}

.nav-item i {
  transform: translateY(6px);
}

nav ul li:first-child > a {
  cursor: default;
}

/*display width and left  need to be changed in js */
nav #dropdown {
  display: none;
  background-color: var(--hover-white);
  position: absolute;
  top: 80px;
  text-align: center;
  box-shadow: 6px 6px var(--off-black);
  line-height: 50px;
  height: auto;
  cursor: pointer;
}

nav #dropdown a {
  display: block;
  font-size: var(--nav-font);
  color: #000;
}

nav #dropdown a:hover {
  color: rgb(109, 109, 109);
}

.hamburger i {
  font-size: 60px;
  color: #fff;
}

.hamburger i:hover {
  cursor: pointer;
}

/* display set to block when hamburger menu is clicked */
.mobile-nav {
  /* display: none; */
  margin: 0;
  position: fixed;
  left: 0;
  top: -500px;
  width: 100%;
  text-align: center;
  background-color: var(--popup-grey);
  transition: top 0.42s;
}

.exit-mobile-nav {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin: 16px;
  cursor: pointer;
}

.exit-mobile-nav i {
  font-size: 64px;
  color: #fff;
  transition: all 0;
}

.exit-mobile-nav i:hover {
  transition: transform 0.25s linear 0s;
  transform: rotate(180deg);
  color: rgb(226, 226, 226);
}

.mobile-nav ul {
  margin: 20px 0;
}

.mobile-nav li {
  margin: 14px 0;
}

.mobile-nav a {
  color: #fff;
  font-size: 1.6em;
}

.mobile-nav a:hover {
  color: rgb(214, 214, 214);
}

.nav-right,
.nav-center {
  display: none;
}

@media only screen and (min-width: 888px) {
  .nav-right {
    display: block;
  }

  .hamburger {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  :root {
    --nav-font: 1.03em;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --nav-font: 1.38em;
  }
}

footer {
  height: 600px;
  background-color: rgb(44, 44, 44);
  /* 44 */
}

.email {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lawngreen; */
}

.email .container {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}

footer h3 {
  font-size: 30px;
  color: #fff;
}

.email input {
  display: block;
  width: 60%;
  margin: 4px 0;
  height: 26px;
}

.email textarea {
  width: 100%;
  height: 100px;
}

.email textarea, .email input {
  border-radius: 8px;
}

.email button {
  display: block;
  margin-top: 6px;
  font-size: 24px;
  padding: 0.2em 0.6em;
  background-image: linear-gradient(135deg, #4d774e, #164a41);
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #000;
  border-radius: 6px;
}

.email button:hover {
  box-shadow: 0 0 10px 3px #000;
  background-image: none;
  background-color: rgb(231, 231, 231);
  color: black;
}

.links {
  height: 220px;
  /* background-color: coral; */
}

.links .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-left, .links-right {
  display: inline;
  width: 50%;
  text-align: center;
}

.links a {
  display: block;
  font-size: 20px;
  color: #fff;
  padding: 2.6px 0;
}

.links a:hover {
  color: rgb(223, 223, 223);
}

.social-media {
  height: 100px;
  /* background-color:plum; */
}

.social-media .container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media img {
  height: 60px;
}

.social-media img:hover {
  height: 62.6px;
}

@media only screen and (min-width: 768px) {
  .email .container {
    padding: 40px;
    width: 70%;
  }
  .email textarea {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  footer {
    height: 500px;
    position: relative;
  }
  .email {
    height: 400px;
    width: 50%;
    float: left;
  }
  .email textarea {
    width: 100%;
    height: 120px;
  }
  .links {
    height: 400px;
    width: 50%;
    float: right;
  }
  .links a {
    font-size: 28px;
  }
  .social-media {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .social-media .container {
    justify-content: center;
  }
  .social-media img {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .links a {
    font-size: 30px;
  }
}

.next-previous-page {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.next-previous-page button {
  padding: 0.6em 1.2em;
  background-color: var(--light-green);
  border: none;
  border-radius: 100vh;
}

.next-previous-page button:hover {
  background-color: var(--dark-green);
}

.next-previous-page button:hover a{
  color: #fff;
}

.next-previous-page a {
  font-size: 1.3em;
}

@media only screen and (min-width: 1024px) {
  .next-previous-page {
      justify-content: space-around;
  }        
}